//token ejemplo:
eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJyaUhLNmwxZXZtYjBVeF9GaFMxM3JSQUdSNWozemE5V2dRX1lkWnJLa2NjIn0.eyAgImV4cCI6IDE3NzE4NjgwNDQsICAiaWF0IjogMTc3MTg2Nzc0NCwgICJqdGkiOiAiN2FmMDAyZWYtOGJlNi00MTJjLTliNzctNmRjZTIyMDdmZWY0IiwgICJpc3MiOiAiaHR0cHM6Ly9pZHAudGVzdC5hcmJhLmdvdi5hci9yZWFsbXMvQVJCQSIsICAic3ViIjogImY6NmZjMDRjNDktNDcwMi00N2RjLWFlZTEtNjc2NGVkNzllNmQxOjIwMzQ1NTM0MjM0IiwgICJ0eXAiOiAiQmVhcmVyIiwgICJhenAiOiAiZXh0ZXJuYWwiLCAgInNpZCI6ICJmNmQyMTgxOS1mZDdlLTQ5MTUtYTVjNS1hM2JhYzAyMjhkNTUiLCAgImFjciI6ICIxIiwgICJhbGxvd2VkLW9yaWdpbnMiOiBbICAgICIvKiIgIF0sICAic2NvcGUiOiAib3BlbmlkIGFyYmEtcm9sZXMgYXJiYS1yb2xlcy1hbGwiLCAgImlkZW50aWZpZXIiOiAiMjAzNDU1MzQyMzQiLCAgInBlcm1pc3Npb25zIjogWyAgICAiSW5ncmVzb3NCcnV0b3N8Q29udHJpYnV5ZW50ZXxDb250cmlidXllbnRlIiAgXSwgICJmdWxsbmFtZSI6ICJKVUFOIFBBTE9URSIsICAibG9naW4iOiAiMjAzNDU1MzQyMzQiLCAgInR5cGUiOiAiRVhURVJOTyJ9


curl -X POST http://localhost/api/w/demo/jobs/run/http/f/ddjj/ddjj_init \
  -H "Content-Type: application/json" \
  -d '{"token": "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJyaUhLNmwxZXZtYjBVeF9GaFMxM3JSQUdSNWozemE5V2dRX1lkWnJLa2NjIn0.eyAgImV4cCI6IDE3NzE4NjgwNDQsICAiaWF0IjogMTc3MTg2Nzc0NCwgICJqdGkiOiAiN2FmMDAyZWYtOGJlNi00MTJjLTliNzctNmRjZTIyMDdmZWY0IiwgICJpc3MiOiAiaHR0cHM6Ly9pZHAudGVzdC5hcmJhLmdvdi5hci9yZWFsbXMvQVJCQSIsICAic3ViIjogImY6NmZjMDRjNDktNDcwMi00N2RjLWFlZTEtNjc2NGVkNzllNmQxOjIwMzQ1NTM0MjM0IiwgICJ0eXAiOiAiQmVhcmVyIiwgICJhenAiOiAiZXh0ZXJuYWwiLCAgInNpZCI6ICJmNmQyMTgxOS1mZDdlLTQ5MTUtYTVjNS1hM2JhYzAyMjhkNTUiLCAgImFjciI6ICIxIiwgICJhbGxvd2VkLW9yaWdpbnMiOiBbICAgICIvKiIgIF0sICAic2NvcGUiOiAib3BlbmlkIGFyYmEtcm9sZXMgYXJiYS1yb2xlcy1hbGwiLCAgImlkZW50aWZpZXIiOiAiMjAzNDU1MzQyMzQiLCAgInBlcm1pc3Npb25zIjogWyAgICAiSW5ncmVzb3NCcnV0b3N8Q29udHJpYnV5ZW50ZXxDb250cmlidXllbnRlIiAgXSwgICJmdWxsbmFtZSI6ICJKVUFOIFBBTE9URSIsICAibG9naW4iOiAiMjAzNDU1MzQyMzQiLCAgInR5cGUiOiAiRVhURVJOTyJ9"}'



//json:
{
  "exp": 1771868044,
  "iat": 1771867744,
  "jti": "7af002ef-8be6-412c-9b77-6dce2207fef4",
  "iss": "https://idp.test.arba.gov.ar/realms/ARBA",
  "sub": "f:6fc04c49-4702-47dc-aee1-6764ed79e6d1:20345534234",
  "typ": "Bearer",
  "azp": "external",
  "sid": "f6d21819-fd7e-4915-a5c5-a3bac0228d55",
  "acr": "1",
  "allowed-origins": [
    "/*"
  ],
  "scope": "openid arba-roles arba-roles-all",
  "identifier": "20345534234",
  "permissions": [
    "IngresosBrutos|Contribuyente|Contribuyente"
  ],
  "fullname": "JUAN PALOTE",
  "login": "20345534234",
  "type": "EXTERNO"
}